* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
    margin: 0;
}

/* We can add bg image for even div */
.hero {
    background-image: url("../bg/night.jpg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding: 0;
}

nav {
    background-color: orange;
    margin-bottom: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

table {
     /* X   Y   Blur   Color */
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-collapse: collapse;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}

th, td {
    padding: 10px 20px;
}

th {
    background-color: beige;
}

td  {
    background-color: brown;
}

.footer1 {
    background-color: black;
    padding: 20px 30px;
    text-align: center;
    margin-top: 100px;
}

.footer1 a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
}